@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

/* ========= tag ========= */
* {
    box-sizing: border-box;
}
*::selection{
    background:gold;
}
body {
    font-family : 'Noto Sans KR', 'sans-serif';
    margin: 0 auto;
    color:rgb(22, 22, 22);
}
h1,h2{
    font-family: 'NanumSquare', 'sans-serif';
}
a {
    all: unset; /* reset */
}
a:link {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:visited {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:active {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
a:hover {
    text-decoration : none;
    color:rgb(22, 22, 22);
}
section {
    width: 100%;
    background: #000;
    position: relative; /* section의 default로 많이 설정함*/
}
header {
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed; /* fixed는 문서의 흐름에 지장x(float되어 있음) */
    top: 0;
    left: 0;
    z-index: 1000;
}
/* ========= class ========= */
.content-wrap{
    margin: 0 auto;
    padding: 0 15px;
}
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.head-contaioner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.head-contaioner a:hover{
    color: rgb(0, 119, 255);
}
.head-contaioner .head-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.head-contaioner .head-desc{
    font-weight: bold;
    font-size: 1.1rem;
}
.main {
    height: 250px;
    margin: 0 auto;
    background-image: url(../images/section.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-container{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    opacity: 0.8;
    z-index: 2;
}
.title-container {
    padding: 20px 15px;
    padding-bottom: 0.5em;
    margin-top: 60px;
    color: #fff;
}
.title{
    font-family: 'NanumSquare';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    margin-top: 1.2rem;
    text-align: center;
}
.message{
    position: absolute;
    text-align: right;
    bottom: 4%;
    right: 1.5%;
    line-height: 2rem;
    font-size: 1.4rem;
}



@media only screen and (min-width: 1200px) {
    .inner {
        max-width: 1200px;
    }
    .main {
        max-width: 1200px;
        height: 250px;
    }
}
@media only screen and (max-width: 767px) {
    .content-wrap{
        padding: 0;
    }
    .main {
        padding: 0;
        height: 70px;
    }
    .title-container {
        margin-top: 60px;
        padding: 10px 5px;
        color: #fff;
    }
    .title{
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
        margin: 0;
        padding: 10px;
        font-family: 'NanumSquare';
        font-weight: bold;
        font-size: 7vw;
        color: #fff;
    }
    .message{
        visibility:hidden;
    }
}
